/* Foundation API - Modals */
.reveal-modal-bg {
    background: #000000;
    background: rgba(0, 0, 0, 0.45);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1004;
    left: 0;
}

.reveal-modal {
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1005;
    left: 0;
    background-color: #FFFFFF;
    padding: 1.875rem;
    border: solid 1px #666666;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
@media only screen and (max-width: 40em) {
    .reveal-modal {
        min-height: 100vh; } }
.reveal-modal .column, .reveal-modal .columns {
    min-width: 0; }
.reveal-modal > :first-child {
    margin-top: 0; }
.reveal-modal > :last-child {
    margin-bottom: 0; }
@media only screen and (min-width: 40.0625em) {
    .reveal-modal {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 80%; } }
@media only screen and (min-width: 40.0625em) {
    .reveal-modal {
        top: 6.25rem; } }
.reveal-modal.radius {
    border-radius: 3px; }
.reveal-modal.round {
    border-radius: 1000px; }
.reveal-modal.collapse {
    padding: 0; }
@media only screen and (min-width: 40.0625em) {
    .reveal-modal.tiny {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 30%; } }
@media only screen and (min-width: 40.0625em) {
    .reveal-modal.small {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 40%; } }
@media only screen and (min-width: 40.0625em) {
    .reveal-modal.medium {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 60%; } }
@media only screen and (min-width: 40.0625em) {
    .reveal-modal.large {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 70%; } }
@media only screen and (min-width: 40.0625em) {
    .reveal-modal.xlarge {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 95%; } }
.reveal-modal.full {
    height: 100vh;
    height: 100%;
    left: 0;
    margin-left: 0 !important;
    max-width: none !important;
    min-height: 100vh;
    top: 0; }
@media only screen and (min-width: 40.0625em) {
    .reveal-modal.full {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 100%; }
}
.reveal-modal.toback {
    z-index: 1003;
}
.reveal-modal .close-reveal-modal {
    color: #AAAAAA;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 0.625rem;
    right: 1.375rem;
}

.joyride-modal-bg {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    left: 0;
}