#topDiv {
    position: relative;
    display: block;
    margin-top: -1em;
    margin-left: -1em;
    margin-right: -1em;
    height: 4em;
    min-width: 100%;
    background-color: #607D8B;
}

#homeLink {
    position: relative;
    display: block;
    margin-left: 1em;
    width: 15em;
    height: 4em;
}

#link {
    position: relative;
    display: inline-block;
    width: 15em;
    height: 4em;
}

#icon {
    position: relative;
    display: inline-block;
    margin-left: 1em;
    margin-top: 0.9em;
    width: 2.5em;
    height: 3em;
}

#icon img {
    display: block;
}

#icon img {
    width: 100%;
}

#icon img {
    height: 100%;
}

#title {
    position: absolute;
    display: inline-block;
    margin-left: 0.5em;
    margin-top: 0.5em;
    width: 6em;
    height: 1.5em;
    font-size: 2em;
    color: #F5F5F5;
    font-family: Dinobl, sans-serif;
}