/* ------------------------------------------------------------------------------------------------------  */
/* --------------------------------------------- TOP CONTENT --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#uploadTitle {
    display: none;
}

#introText {
    display: none;
}


/* ------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------- TOOLBAR ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#toolbar {
    margin-top: 1em;
    width: 95%;
    height: 6em;
}

#currentDirText {
    width: 74%;
}

#newFolderTextInput {
    margin-top: 3.2em;
    width: 6em;
    opacity: 1;
}

#newFolderButton {
    margin-top: 3.5em;
    width: 7em;
}

#editButton {
    margin-top: 3.5em;
}

#seperator {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------- FILE BOX ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#fileBox {
    width: 95%;
}

/* ------------------------------------------------------------------------------------------------------  */
/* ---------------------------------------------- STATUS BAR --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#statusBar {
    width: 95%;
}


#bottomBar {
    margin-top: 1em;
}


