/* ------------------------------------------------------------------------------------------------------  */
/* --------------------------------------------- TOP CONTENT --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#uploadTitle {
    display: none;
}

#introText {
    display: none;
}

#mobileFailText {
    display: block;
}

/* ------------------------------------------------------------------------------------------------------  */
/* ------------------------------------------------ BODY ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#toolbar {
    display: none;
}

#fileBox {
    display: none;
}

#statusBar {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------- FOOTER ------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------- */
#bottomBar {
    margin-top: 1em;
}