/* ------------------------------------------------------------------------------------------------------  */
/* --------------------------------------------- TOP CONTENT --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#uploadTitle {
    display: none;
}

#introText {
    display: none;
}


/* ------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------- TOOLBAR ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#toolbar {
    display: block;
    margin-top: 1em;
    width: 95%;
    height: 6em;
}

#currentDirText {
    display: inline-block;
    width: 50%;
}

#newFolderTextInput {
    position: relative;
    display: block;
    margin-top: 0.7em;
    margin-right: 0.5em;
    float: right;
    width: 5em;
    opacity: 1;
}

#newFolderButton {
    display: block;
    margin-top: 3.5em;
    width: 6em;
}

#newFolderText {
    margin-top: 0.3em;
    font-size: 0.9em;
}

#editButton {
    display: block;
    margin-top: 3.5em;
    width: 3em;
    height: 1.8em;
}

#editText {
    margin-top: 0.3em;
    font-size: 0.9em;
}

#seperator {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------- FILE BOX ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#fileBox {
    width: 95%;
    height: 25em;
}

/* ------------------------------------------------------------------------------------------------------  */
/* ---------------------------------------------- STATUS BAR --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
#statusBar {
    width: 95%;
    height: 3em;
}


#bottomBar {
    margin-top: 1em;
}


